# set floating (nontiling)for apps needing it:
for_window [app_id="org.gnome.Nautilus"] floating enable, border csd 1
for_window [app_id="blueman-manager"] floating enable, border normal 1, resize set width 40 ppt height 30 ppt

# set floating (nontiling) for special apps:
for_window [app_id="pavucontrol" ] floating enable, border normal 1, resize set width 36 ppt height 80 ppt
for_window [class="Bluetooth-sendto" instance="bluetooth-sendto"] floating enable

#for_window [app_id="zathura" ] split vertical; layout tabbed

# set floating for window roles
for_window [window_role="pop-up"] floating enable
for_window [window_role="bubble"] floating enable
for_window [window_role="task_dialog"] floating enable
for_window [window_role="Preferences"] floating enable
for_window [window_type="dialog"] floating enable
for_window [window_type="menu"] floating enable
for_window [window_role="About"] floating enable
for_window [title="File Operation Progress"] floating enable, border pixel 1, sticky enable, resize set width 40 ppt height 30 ppt
for_window [title="Picture in picture"] floating enable, sticky enable
for_window [title="nmtui"] floating enable, border normal 1,  resize set width 50 ppt height 70 ppt
for_window [title="htop"] floating enable, resize set width 50 ppt height 70 ppt
for_window [title="Save File"] floating enable

assign [class="discord"] workspace 5

